@using RR.CoursesCenter.UI.WebApp.Filters;
@model IEnumerable<RR.CoursesCenter.Application.ViewModels.CourseViewModel>

@{
    if (this.IfClaim("Course", "AD"))
    {
        <a href="@Url.Action("Create", "Courses")" class="btn btn-success">
            <span title="Criar um Novo Curso">Novo</span>
        </a>
    }

    if (ViewBag.Control == "ListInactive" || ViewBag.Control == "ListAll")
    {
        <a href="@Url.Action("Index", "Courses")" class="btn btn-default">
            <span title="Lista Cursos Ativos">Ativos</span>
        </a>
    }

    if (ViewBag.Control == "Index" || ViewBag.Control == "ListAll")
    {
        <a href="@Url.Action("ListInactive", "Courses")" class="btn btn-default">
            <span title="Lista Cursos Inativos">Inativos</span>
        </a>
    }

    if (ViewBag.Control == "Index" || ViewBag.Control == "ListInactive")
    {
        <a href="@Url.Action("ListAll", "Courses")" class="btn btn-default">
            <span title="Lista Todos os Cursos">Todos</span>
        </a>
    }
}

<hr />
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="text-align: center;">@Html.DisplayNameFor(model => model.Identification)</th>
                <th style="text-align: center;">@Html.DisplayNameFor(model => model.CourseTypeId)</th>
                <th style="text-align: center;">@Html.DisplayNameFor(model => model.InstructorId)</th>
                <th style="text-align: center;">@Html.DisplayNameFor(model => model.Price)</th>
                <th style="text-align: center;">@Html.DisplayNameFor(model => model.Active)</th>
                <th style="text-align: center;">Ações</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Identification)</td>
                <td>@Html.DisplayFor(modelItem => item.CourseType.Identification)</td>
                <td>@Html.DisplayFor(modelItem => item.Instructor.Identification)</td>
                <td align="center">
                    @{
                        var price = string.Format("{0:C}", item.Price);
                        @Html.DisplayFor(modelItem => price)
                    }
                </td>
                <td align="center">@Html.DisplayFor(modelItem => item.Active)</td>
                <td align="center">
                    @if (this.IfClaim("Course", "ED"))
                    {
                        <a href="@Url.Action("Edit", "Courses", new { id = item.Id })" class="btn btn-warning">
                            <span title="Editar" class="glyphicon glyphicon-pencil"></span>
                        </a>
                    }

                    <a href="@Url.Action("Details", "Courses", new {id = item.Id})" class="btn btn-info">
                        <span title="Detalhes" class="glyphicon glyphicon-search"></span>
                    </a>

                    @if (this.IfClaim("Course", "DE"))
                    {
                        <a href="@Url.Action("Delete", "Courses", new {id = item.Id})" class="btn btn-danger">
                            <span title="Excluir" class="glyphicon glyphicon-trash"></span>
                        </a>
                    }
                </td>
            </tr>
        }
    </table>
</div>